{{#> page}}
    {{#*inline "main"}}
	<div class="container">
		<div class="work">
			<ul id="da-thumbs" class="da-thumbs">
				{{#each work}}
				 <li>
  					<a class="fancybox" href="#inline{{@index}}" title="{{this.title}}">
	  					<img src="assets/images/{{this.image}}" />
	  					<div><span style="font-family:13px;">{{this.description}}</span></div>
	  					<h3>{{this.title}}<br><span>Client: {{this.client}}</span></h3>
					</a>
  				</li>
				{{/each}}
			</ul>
		</div>
	</div>

	{{#> scripts-block}}
		<script src="assets/js/libs/modernizr.custom.97074.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/libs/jquery.hoverdir.js"></script>
		<script type="text/javascript">
		$(function() {

			$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

		});
		</script>
		<!-- embeded scripts -->
		<script type="text/javascript" src="assets/js/libs/jquery.fancybox.js?v=2.1.5"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/libs/jquery.fancybox.css?v=2.1.5" media="screen" />

		<script type="text/javascript">
		$(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$('.fancybox').fancybox();

			/*
			 *  Different effects
			 */

			// Change title type, overlay closing speed
			$(".fancybox-effects-a").fancybox({
				helpers: {
					title : {
						type : 'outside'
					},
					overlay : {
						speedOut : 0
					}
				}
			});

			// Disable opening and closing animations, change title type
			$(".fancybox-effects-b").fancybox({
				openEffect  : 'none',
				closeEffect	: 'none',

				helpers : {
					title : {
						type : 'over'
					}
				}
			});

			// Set custom style, close if clicked, change title type and overlay color
			$(".fancybox-effects-c").fancybox({
				wrapCSS    : 'fancybox-custom',
				closeClick : true,

				openEffect : 'none',

				helpers : {
					title : {
						type : 'inside'
					},
					overlay : {
						css : {
							'background' : 'rgba(238,238,238,0.85)'
						}
					}
				}
			});

			// Remove padding, set opening and closing animations, close if clicked and disable overlay
			$(".fancybox-effects-d").fancybox({
				padding: 0,

				openEffect : 'elastic',
				openSpeed  : 150,

				closeEffect : 'elastic',
				closeSpeed  : 150,

				closeClick : true,

				helpers : {
					overlay : null
				}
			});

			/*
			 *  Button helper. Disable animations, hide close button, change title type and content
			 */

			$('.fancybox-buttons').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',

				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,

				helpers : {
					title : {
						type : 'inside'
					},
					buttons	: {}
				},

				afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
				}
			});


			/*
			 *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
			 */

			$('.fancybox-thumbs').fancybox({
				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,
				arrows    : false,
				nextClick : true,

				helpers : {
					thumbs : {
						width  : 50,
						height : 50
					}
				}
			});

			/*
			 *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
			*/
			$('.fancybox-media')
				.attr('rel', 'media-gallery')
				.fancybox({
					openEffect : 'none',
					closeEffect : 'none',
					prevEffect : 'none',
					nextEffect : 'none',

					arrows : false,
					helpers : {
						media : {},
						buttons : {}
					}
				});

			/*
			 *  Open manually
			 */

			$("#fancybox-manual-a").click(function() {
				$.fancybox.open('1_b.jpg');
			});

			$("#fancybox-manual-b").click(function() {
				$.fancybox.open({
					href : 'iframe.html',
					type : 'iframe',
					padding : 5
				});
			});

			$("#fancybox-manual-c").click(function() {
				$.fancybox.open([
					{
						href : 'assets/images/1_b.jpg',
						title : 'My title'
					}, {
						href : 'assets/images/2_b.jpg',
						title : '2nd title'
					}, {
						href : 'assets/images/3_b.jpg'
					}
				], {
					helpers : {
						thumbs : {
							width: 75,
							height: 50
						}
					}
				});
			});


		});
		</script>
	{{/scripts-block}}

		<style type="text/css">
		.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}

		</style>

		<div id="inline1" style="width:950px;display: none;">
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="650"><iframe width="628" height="353" src="//www.youtube.com/embed/wzgkQH0r-Fs" frameborder="0" allowfullscreen></iframe></td>
				<td valign="middle"><h3 style="color:#a1a1a1; font-size:22px;">What Is Gangnam Style?<br><span style="color:#5cac5e; font-size:20px;">Client: Jose Cuervo</span></h3><p style="font-size:13px;">
			A video project for Jose Cuervo in which Pro Beach Volleyball players were asked: “Do you know what Gangnam Style is?” The results are… interesting.
		</p></td>
			</tr>
		</table>


		</div>
		<div id="inline2" style="width:950px;display: none;">
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="650"><iframe width="628" height="353" src="//www.youtube.com/embed/gsyMESkpvDs" frameborder="0" allowfullscreen></iframe></td>
				<td valign="middle"><h3 style="color:#a1a1a1; font-size:22px;">Amazing Food Tricks<br><span style="color:#5cac5e; font-size:20px;">Client: Jill</span></h3><p style="font-size:13px;">
			An animated video for Rodale Publishing called “Amazing Food Tricks With Jill.”
		</p></td>
			</tr>
		</table>


		</div>
		<div id="inline3" style="width:950px;display: none;">
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="650"><iframe width="628" height="353" src="//www.youtube.com/embed/8ZbmjsB6s90" frameborder="0" allowfullscreen></iframe></td>
				<td valign="middle"><h3 style="color:#a1a1a1; font-size:22px;">Dude Food, With Dinosaur BBQ’s<br><span style="color:#5cac5e; font-size:20px;">Client: John Stage</span></h3><p style="font-size:13px;">
			An episode of "Dude Food," starring John Stage of the famed Dinosaur BBQ in New York, for Tasted Channel.
		</p></td>
			</tr>
		</table>


		</div>
		<div id="inline4" style="width:950px;display: none;">
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="650"><iframe width="628" height="353" src="//www.youtube.com/embed/HkL381Dk8A8" frameborder="0" allowfullscreen></iframe></td>
				<td valign="middle"><h3 style="color:#a1a1a1; font-size:22px;">Impossible Volleyball Trick Shot<br><span style="color:#5cac5e; font-size:20px;">Client: Jose Cuervo</span></h3><p style="font-size:13px;">
			A video for Jose Cuervo, featuring one of the most difficult volleyball trick shots ever filmed
		</p></td>
			</tr>
		</table>


		</div>
		<div id="inline5" style="width:950px;display: none;">
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="650"><iframe width="628" height="353" src="//www.youtube.com/embed/NNN6zQdf6ZY" frameborder="0" allowfullscreen></iframe></td>
				<td width="280" valign="middle"><h3 style="color:#a1a1a1; font-size:22px;">Woman V. Workout: Model Trains As Pro Boxer<br><span style="color:#5cac5e; font-size:20px;">Client: Lauren Berlingeri </span></h3><p style="font-size:13px;">
			Woman V. Workout Episode: Can Model Lauren Berlingeri Handle FDNY Training?
		</p></td>
			</tr>
		</table>


		</div>
		<div id="inline6" style="width:950px;display: none;">
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="650"><iframe width="628" height="353" src="//www.youtube.com/embed/MhriSwt11_k" frameborder="0" allowfullscreen></iframe></td>
				<td valign="middle"><h3 style="color:#a1a1a1; font-size:22px;">Big Papi Hugs New York, MLB Fancave<br><span style="color:#5cac5e; font-size:20px;">Client: MLB Fancave </span></h3><p style="font-size:13px;">
			A viral video produced for MLB FanCave, in which Red Sox first baseman David Ortiz gives New Yorkers and Yankees fans a hug.
		</p></td>
			</tr>
		</table>


		</div>
    {{/inline}}
{{/page}}
